
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            
            <div class="main">
                <h4>REGISTRATION</h4><br>

            <input id="uname" type="text" class="text" [(ngModel)]="uname" placeholder="User Name"><br><br>
            <input id="accno" type="text" class="text" [(ngModel)]="accnum" placeholder="Account number"><br><br>
            
            <input id="pwd" type="password" class="text" [(ngModel)]="pswd" placeholder="Password" ><br> <br>
            
            <input type="submit" value="Register" class="button butefct" (click)="Register()"> <br>
                <a class="textfp" routerLink="">LogIn</a>
        
        </div></div>
        <div class="col-4"></div>
    </div>
  </div>